.nf-container{
    height: 100vh;
}

p{
    text-align: center;
    a{
        text-decoration: none;
        color: salmon;
    }
}

.decor{
    font-weight: 600;
    color: salmon;
    font-size: 100px;
}